@import 'nib'

*
	padding 0
	border 0
	margin 0

body,html
	height 100%
	width 100%

#wrapper-grid
	display block
	height 100%
	position relative
	width 100%

#wrapper-grid .element
	float left

#wrapper-grid .element:hover
	opacity .7

.red
	background-color red

.blue
	background-color blue

.yellow
	background-color yellow

.orange
	background-color orange

.green
	background-color green

.black
	background-color black
